.custom-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-right {
  display: flex;
  justify-content: flex-end;
}

.button {
  width: 100px;
}

.custom-box {
  display: flex;
  flex-direction: column;
  border: thick solid grey;
  width: 80%;
  border-radius: 20px;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .custom-box {
    width: 100%;
  }
}

.custom-row {
  display: flex;
}

.custom-cell {
  flex: 1;
  border: 1px solid grey;
  /* padding: 10px 20px; */
  font-size: 25px;
  text-align: center;
}

.answer {
  border-top: thick solid black;
}
